{% if settings.featured_blog | length > 0 and blogs[settings.featured_blog] is not empty %}
  {% set blog = blogs[settings.featured_blog] %}
  <div class="container margin-bottom">
    <div class="row">
      <div class="col-xs-12 section__title">
        <h2 class="section-heading section--italic">{{ settings.featured_blog_title | capitalize }}</h2>
      </div>
    </div>
    <div class="row front__blog__grid">
      {% for post in blog.posts | slice(0, 3) %}
      <div class="col-xs-12 col-sm-4">
        {% include '_blog-grid-item.twig' %}
      </div>
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="container placeholder-hover">
    <div class="placeholder-helper">
      <div class="placeholder-info text-center">
        <h3>¡Falta poco!</h3>
        <p>Esta sección desplegará el blog que asignes como destacado en la configuración de tu tema.</p>
        <p><a href="/admin/blogs" class="btn btn-placeholder">Administrar Blogs</a>
        <a href="/admin/themes" class="btn btn-placeholder">Ir a sección de temas</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 section__title">
        <h2 class="section-heading section--italic">Un poco de inspiración</h2>
      </div>
    </div>
    <div class="row front__blog__grid">
      <div class="col-xs-6 col-md-3">
        {% include '_blog-placeholder.twig' %}
      </div>
      <div class="col-xs-6 col-md-3">
        {% include '_blog-placeholder.twig' %}
      </div>
      <div class="col-xs-6 col-md-3 hidden-xs hidden-sm">
        {% include '_blog-placeholder.twig' %}
      </div>
      <div class="col-xs-6 col-md-3 hidden-xs hidden-sm">
        {% include '_blog-placeholder.twig' %}
      </div>
    </div>
  </div>
{% endif %}


