.slider-home {
  .slick-slide img {
    display: inline-block;
    width: 100%;
    max-width: 1480px;
  }
  .slick-slide img.full-size {
    display: inline-block;
    width: 100%;
    max-width: 100%;
  }

  .slide_content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .slide1,
  .slide2,
  .slide3,
  .slide4 {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .slide_1 {
    background-color: $slide_1_bg_color;
  }
  .slide_2 {
    background-color: $slide_2_bg_color;
  }
  .slide_3 {
    background-color: $slide_3_bg_color;
  }
  .slide_4 {
    background-color: $slide_4_bg_color;
  }
}
