{% extends 'layout.twig' %}

{% block body %}
<div class="container margin-top">
  <div class="row">
    <div class="col-sm-12 section__title section-title--margin">
      <h1 class="section-heading section--italic">Crea una cuenta</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {% include '_register-form.twig' %}
    </div>
  </div>
</div>
{% endblock %}
